/* #container {
  position: relative;
  width: 500px;
  height: 500px;
}
#myDiv {
  width: 100%;
  height: 100%;
} */
#daterange {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 250px;
  height: 53px;
}
